<?xml version="1.0"?>
<robot name="Tracer">

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.0995" rpy="0 0 0"/>
      <mass value="10"/>
      <inertia ixx="0.326184" ixy="0" ixz="0" iyy="0.426771" iyz="0" izz="0.720753"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.702 0.61 0.139"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0995"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.702 0.61 0.139"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0995"/>
    </collision>
  </link>

  <link name="right_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 1.57075 1.57075"/>
      <mass value="0.5"/>
      <inertia ixx="0.000379" ixy="0" ixz="0" iyy="0.000379" iyz="0" izz="0.000625"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.04" radius="0.05"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.04" radius="0.05"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_right_wheel" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 -0.22 0.05"/>
  </joint>

  <link name="fr_caster_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 1.57075 1.57075"/>
      <mass value="0.2"/>
      <inertia ixx="0.00004625" ixy="0" ixz="0" iyy="0.00004625" iyz="0" izz="0.0000625"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.025"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.03" radius="0.025"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_fr_caster_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="fr_caster_wheel"/>
    <origin xyz="0.25 -0.22 0.025"/>
  </joint>

  <link name="br_caster_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 1.57075 1.57075"/>
      <mass value="0.2"/>
      <inertia ixx="0.00004625" ixy="0" ixz="0" iyy="0.00004625" iyz="0" izz="0.0000625"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.025"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.03" radius="0.025"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_br_caster_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="br_caster_wheel"/>
    <origin xyz="-0.25 -0.22 0.025"/>
  </joint>

  <link name="left_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 1.57075 1.57075"/>
      <mass value="0.5"/>
      <inertia ixx="0.000379" ixy="0" ixz="0" iyy="0.000379" iyz="0" izz="0.000625"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.04" radius="0.05"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.04" radius="0.05"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_left_wheel" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 0.22 0.05"/>
  </joint>

  <link name="fl_caster_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 1.57075 1.57075"/>
      <mass value="0.2"/>
      <inertia ixx="0.00004625" ixy="0" ixz="0" iyy="0.00004625" iyz="0" izz="0.0000625"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.025"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.03" radius="0.025"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_fl_caster_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="fl_caster_wheel"/>
    <origin xyz="0.25 0.22 0.025"/>
  </joint>

  <link name="bl_caster_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 1.57075 1.57075"/>
      <mass value="0.2"/>
      <inertia ixx="0.00004625" ixy="0" ixz="0" iyy="0.00004625" iyz="0" izz="0.0000625"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.025"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.03" radius="0.025"/>
      </geometry>
      <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_bl_caster_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="bl_caster_wheel"/>
    <origin xyz="-0.25 0.22 0.025"/>
  </joint>

  <link name="battery">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="5"/>
      <inertia ixx="0.091526" ixy="0" ixz="0" iyy="0.050152" iyz="0" izz="0.076387"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.204978 0.37592 0.279908"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.204978 0.37592 0.279908"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_battery" type="fixed">
    <parent link="base_link"/>
    <child link="battery"/>
    <origin xyz="0.133 0 0.308954"/>
  </joint>

  <link name="lidar_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="0.00004226" ixy="0" ixz="0" iyy="0.00004226" iyz="0" izz="0.00002531"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.0596" radius="0.0225"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0596" radius="0.0225"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="battery_to_lidar" type="fixed">
    <parent link="battery"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.169754"/>
  </joint>


</robot>




